<!DOCTYPE html>
<html>
<head>
	<title>Facebook Claim</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$( document ).ready(function() {
			$.get("/user_list", function(data, status){
				alert("Data: " + data + "\nStatus: " + status);
			});
		});
	</script>
</head>
<body>
<div class="contain-fluid">
    <div class="row">
        <div class="col-8">
            <form id="form-login">
                <div class="form-group">
                    <p>
                        <label for="email">Email: </label>
                        <input size="50" class="form-control" type="text" id="email" name="email" placeholder="email hoặc ID">vplvubs_mcdonaldsen_1593556716@tfbnw.net</input>
                    </p>
                    <p>
                        <label for="pasword">Password: </label>
                        <input size="50" class="form-control" type="password" id="password" name="password">8i2fli5f7lg</input>
                    </p>
                    <p id="code2fa">
                        <label for="code">2fa </label>
                        <input maxlength="6" size="6" class="form-control" type="text" id="code-fa" name="code-fa" required></input>
                    </p>
                </div>
            </form>
            <button type="button" class="btn btn-primary" id="submit" onclick="login()">Login</button>
            <br>
            <br>
            <div id="chat-contain">
                <form id="form-chat">
                    <div class="form-group">
                        <p>
                            <textarea class="form-control" rows="20" id="list-page-id" placeholder="Danh sách id của page cách nhau bởi dấu phẩy"></textarea>
                        </p>
                        <p>
                            <textarea class="form-control" rows="4" id="mess" placeholder="Viết tin nhắn vào đây"></textarea>
                        </p>
                    </div>
                </form>
                <button type="button" class="btn btn-primary" id="send-mess" onclick="send()">Send</button>
            </div>
        </div>
        <div class="col-4">
            <textarea class="form-control" rows="30" cols="100" id="log"></textarea>
        </div>
    </div>
</div>
<script>
var list,mess,interval;
var current_send_page=0;
function login() {
    var user, pass, code;
    user = $("#email").val();
    pass = $("#password").val();
    code = $("#code-fa").val();
    if (!isEmpty(code) && !isBlank(code)) {
        $.post("/login2fa", {
            email: user,
            password: pass,
            code: code
        }, function(data) {
            if (data === 'ok') {
                $("#code2fa").css("display", "none");
                $("#code-fa").val('');
                addLog("login success: "+ user);
				$("#chat-contain").css("display", "block");
            } else {
                alert("Tài khoản hoặc mật khẩu sai");
				addLog("Tài khoản hoặc mật khẩu sai");
				$("#chat-contain").css("display", "none");
            }
        });
    } else {
        $.post("/login", {
            email: user,
            password: pass
        }, function(data) {
            if (data === 'ok') {
                addLog("login success: "+user);
				$("#chat-contain").css("display", "block");
            } else if (data == 'Need 2fa') {
                $("#code2fa").css("display", "block");
				$("#chat-contain").css("display", "none");
            } else {
                alert("Tài khoản hoặc mật khẩu sai");
				addLog("Tài khoản hoặc mật khẩu sai");
				$("#chat-contain").css("display", "none");
            }
        });
    }
}

function send() {
    var list_id;
    mess = $("#mess").val();
    list_id = $("#list-page-id").val();
    if (!isEmpty(mess) && !isBlank(mess) && !isEmpty(list_id) && !isBlank(list_id)) {
		list = list_id.split(',');
    }
	interval = setInterval(send_mess_lazy, 3000);
}
function send_mess_lazy(){
	if(current_send_page<list.length){
		$.post("/send", {
			pageid: list[current_send_page],
			mess: mess
			}, function(data) {
				if(data=="ok"){
					addLog("Gửi xong page: "+list[current_send_page]);
				}
				else{
					alert(data);
					addLog(data);
				}
			}
        );
		current_send_page++;
	}else {
		clearInterval(interval);
		addLog("Done!")
	}
}
function addLog(str){
	$('#log').append(">"+str+'\r\n'); 
}
function isEmpty(str) {
    return (!str || 0 === str.length);
}

function isBlank(str) {
    return (!str || /^\s*$/.test(str));
}
</script>
</body>
</html>
