<!DOCTYPE html>
<html>
<head>
	<title>Facebook Claim</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://apis.google.com/js/api:client.js"></script>
	<script src="https://apis.google.com/js/platform.js"></script>
	<script src="/js/google.js"></script>
	<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
	<script>
		$( document ).ready(function() {
			$.get("/user_list", function(data, status){
				//alert("Data: " + data + "\nStatus: " + status);
			});
		});
	</script>
</head>
<body>
<div class="m-5 pb-5 contain-fluid">
    <div class="row">
        <div class="col-8">
            <form id="form-login">
                <div class="form-group">
                    <p>
                        <label for="email">Email: </label>
                        <input size="50" class="form-control" type="text" id="email" name="email" placeholder="email hoặc ID">vltfdje_liwitz_1593963586@tfbnw.net</input>
                    </p>
                    <p>
                        <label for="pasword">Password: </label>
                        <input size="50" class="form-control" type="password" id="password" name="password">8j301qqvaan</input>
                    </p>
                    <p id="code2fa">
                        <label for="code">Mã Secret Key hoặc 2fa </label>
                        <input maxlength="100" size="6" class="form-control" type="text" id="code-fa" name="code-fa" required></input>
                    </p>
                </div>
            </form>
            <button type="button" class="btn btn-primary" id="login" onclick="login()">Login</button>
            <br>
            <br>
            <div id="chat-contain">
				<p>		
					<span class="badge badge-success">Sử dụng GoogleSheet</span>
					<br>
						<form id="form-sheet-data">
							<div class="col-12">
								<input class="form-control" value="1GBgZ37ilREkT5uvSnJveJrX5_VgRTEWzMGuTlpuUaeA"type="text" id="sheetID" name="sheetID" placeholder="ID của sheet"></input>
							</div>
							<div class="col-8">
								<input class="form-control" value="data!A:A"type="text" id="sheet_page" name="sheet_page" placeholder="Tên trang : cột cần lấy"></input>
							</div>
						</form>
						<div class="col-2"><button button type="button" class="btn btn-outline-secondary" onclick="readSheet()">Get Data</button></div>
					<br>
					<button class="btn btn-primary" onclick="handleSignInClick()">Sign in</button>
					<button class="btn btn-primary" onclick="handleSignOutClick()">Sign out</button>
				</p>
                <form id="form-chat">
                    <div class="form-group">
						<div class="col-12 offset-3">
							<span class="alert-primary">Danh sách PageID</span>
						</div>
                        <p>
                            <textarea class="form-control" rows="20" id="list-page-id" placeholder="Danh sách id của page cách nhau bởi xuống dòng"></textarea>
                        </p>
						<div class="col-md-3 offset-md-3">
							<span class="alert-primary">Tin nhắn</span>
						</div>
                        <p>
                            <textarea class="form-control" rows="4" id="mess" placeholder="Viết tin nhắn vào đây"></textarea>
                        </p>
						<span class="alert-warning">Thời gian giữa các lần gửi (s)</span>
						<p>
							<div class="row">
								<div class="col-4">
									<input maxlength="6" size="50" value="60" class="form-control" placeholder="Tính theo giây" type="number" id="time" name="time" required></input>
								</div>
								<div class="col-4">
									<span class="badge badge-light">Giây</span>
								</div>
							</div>
						</p>
                    </div>
                </form>
                <button type="button" class="btn btn-primary" id="send-mess" onclick="send()">Send</button>
				<button type="button" class="btn btn-primary" id="stop-send-mess" onclick="stop_send()">Cance Send</button>
            </div>
        </div>
        <div class="col-4">
			<span class="alert-primary">Log</span>
            <textarea readonly class="form-control" rows="15" cols="50" id="log"></textarea>
			<div id="counter-time">
				<span class="alert-primary">Timer</span>
				<div class="col-8 alert-dark" id="counter"></div>
			</div>
		</div>
		
    </div>
</div>
<script>
var list,mess,interval,time;
var current_send_page=0;
function login() {
    var user, pass, code;
    user = $("#email").val();
    pass = $("#password").val();
    code = $("#code-fa").val();
	stopLoginButton();
	addLog("Đang đăng nhập");
    if (!isEmpty(code) && !isBlank(code)) {
        $.post("/login2fa", {
            email: user,
            password: pass,
            code: code
        }, function(data) {
			liveLoginButton();	
			if (data === 'ok') {
                $("#code2fa").css("display", "none");
                $("#code-fa").val('');
                addLog("login success: "+ user);
				$("#chat-contain").css("display", "block");
            } else {
                alert("Vui lòng phê duyệt đăng nhập trên trình duyệt khác");
				addLog("Mã 2fa sai hoặc cần phê duyệt đăng nhập");
				$("#chat-contain").css("display", "none");
            }
        });
    } else {
        $.post("/login", {
            email: user,
            password: pass
        }, function(data) {
			liveLoginButton();
            if (data === 'ok') {
                addLog("login success: "+user);
				$("#chat-contain").css("display", "block");
            } else if (data == 'Need 2fa') {
                $("#code2fa").css("display", "block");
				$("#chat-contain").css("display", "none");
				addLog("Nhập mã 2fa");
				$("#login").text("Login 2fa");
				return;
            } else {
                alert("Tài khoản hoặc mật khẩu sai");
				addLog("Tài khoản hoặc mật khẩu sai");
				$("#chat-contain").css("display", "none");
            }
        });
    }
}
function stop_send(){
	clearInterval(interval);
	current_send_page=0;
	$("#counter-time").css("display", "none");
	liveSendButton();
	addLog("Dừng gửi tin nhắn!")
}
function send() {
    var list_id;
    mess = $("#mess").val();
	time= $("#time").val();
	if(isDay(time)){
		addLog("Thời gian chờ quá dài!!");
		return;
	}
    list_id = $("#list-page-id").val();
    if (!isEmpty(mess) && !isBlank(mess) && !isEmpty(list_id) && !isBlank(list_id)) {
		list = list_id.split('\n');
		stopSendButton();
		addLog("Đang gửi: "+list.length+" page");
		$("#counter-time").css("display", "block");
		current_send_page=0;
		send_mess_lazy();
		interval = setInterval(send_mess_lazy, time*1000);
    }
	else{
		addLog("Vui lòng điền thêm thông tin!");
	}
}
function send_mess_lazy(){
	if(current_send_page<list.length){
		setTimer();
		$.post("/send", {
			pageid: list[current_send_page].replace(/\s/g, ""),
			mess: mess
			}, function(data) {
				if(data=="ok"){
					addLog("Gửi xong page: "+list[current_send_page-1]);
				}
				else{
					addLog(data);
				}
			}
        );
		current_send_page++;
	}else {
		clearInterval(interval);
		$("#counter-time").css("display", "none");
		liveSendButton();
		addLog("Done!")
	}
}
function setTimer() {
	if(current_send_page==0) return;
    var countDownDate = new Date().getTime() + time*1000;
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var hours = Math.floor((distance %(1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance %(1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance %(1000 * 60)) / 1000);
        document.getElementById("counter").innerHTML = hours + "h " +
            minutes + "m " + seconds + "s ";
        if (distance < 0||current_send_page==0) {
            clearInterval(x);
            document.getElementById("counter").innerHTML = "Chờ gửi";
        }
    }, 1000);
}
function addLog(str){
	$('#log').append(">"+str+'\r\n'); 
}
function addPageId(str){
	$('#list-page-id').append(str+'\r\n');
}
function isEmpty(str) {
    return (!str || 0 === str.length);
}
function removeSpace(str){
	return str.replace(/\s/g, "");
}
function isBlank(str) {
    return (!str || /^\s*$/.test(str));
}
function isDay(time){
	return (86400/time)<1;
}
function stopLoginButton(){
	$("#login").prop('disabled',true); 
}
function stopSendButton(){
	$("#send-mess").prop('disabled',true);
}
function liveLoginButton(){
	$("#login").prop('disabled',false);
}
function liveSendButton(){
	$("#send-mess").prop('disabled',false);
}
</script>
</body>
</html>
