<!DOCTYPE html>
<html>

<body>

<form id="form-login" action="/test" method="POST">
    <p>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email"></input>
    </p>
    <p>
        <label for="pasword">Password: </label>
        <input type="password" id="password" name="password"></input>
    </p>
<input type="submit" value="Submit"></input>
</form>

</body>
</html>
